<mat-toolbar color="primary">
  <span>
    Meu App
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button>Menu Option 01</button>
  <button mat-button>Menu Option 02</button>
</mat-toolbar>

<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form>
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="userName" required>

        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password"
            formControlName="password" required>

        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>